html {
  font-size: 20px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: 'Orbitron', sans-serif; /* this should be the rest of the output you got from Google fonts */
  background-color: #80A5C6;
}
h1, h2{
  font-size: 25px;
  text-align: center;
}
ol, ul{
  font-size: 15px;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p{
  width: 500;
  background-color: red;
  color: black;
  text-shadow: 3px 3px 1px white;
  text-align: center;
}
